//
//   @site-document
// --------------------------------------------------------
//  _5_sections/_site-document.scss
// --------------------------------------------------------
//
//  Main HTML structure & styles
//  Main body structure & styles
//
// --------------------------------------------------------




//   @HTML
// --------------------------------------------------------
//  HTML should contain the site's default background color
//  and font-size
// --------------------------------------------------------

html {
    background: $body-color;
    min-height: 100%;
}




//   @body
// --------------------------------------------------------
//  Body should contain the document's default font and
//  background color for the content, if that background
//  color is different than the html.
// --------------------------------------------------------

body {
    @include sans;

    background: color('black') url(../img/escheresque.png);
    background-size: 46px auto;
    color: $text-color;
    font-size: em($base-font-size, 16);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: $base-line-height;

    // generated content to help with js media query detection
    // read https://adactio.com/journal/5429 for more
    &:after {
        display: none;

        @each $breakpoint, $val in $breakpoints {
            @media #{query($breakpoint, 'max')} {
                content: '#{$breakpoint}';
            }
        }
    }
}

.site {
    min-height: 100vh;
    padding: rem(24) 0;

    @media #{query('697px', 'min', 'height')} {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}

[role="main"] {
    background: #fff url(../img/subtle-white-feathers.png);
    background-size: 500px auto;
    padding: rem(24);
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: column;
    margin: 0 auto rem(48);
    max-width: rem(660);

    img {
        display: block;
        margin: 0 auto rem(24);
        width: rem(230);
    }

    h1 {
        @include sans-bold;

        color: color('black');
        font-size: rem(48);
        line-height: 1;
        margin-bottom: rem(8);
        text-transform: uppercase;
    }

    p {
        @include serif-italic;

        color: color('light-blue');
        font-size: rem(24);
        line-height: 1;

        span {
            color: color('gray');
        }
    }

    h1,
    p {
        text-align: center;
    }

    @media #{query('480px')} {
        h1 {
            font-size: rem(66);
            margin-bottom: 0;
        }


        p {
            font-size: rem(39);
        }
    }

    @media #{query('680px')} {
        align-items: center;
        flex-direction: row;
        margin-bottom: rem(24);

        img {
            margin: 0 rem(24) 0 0;
        }

        h1,
        p {
            text-align: left;
        }
    }
}

.container {
    margin: 0 auto;
    max-width: rem(980);

    h2 {
        @include sans-bold;

        color: color('blue');
        font-size: rem(32);
        line-height: 1;
        margin-bottom: rem(32);
        text-align: center;
        text-transform: uppercase;

        @media #{query('480px')} {
            font-size: rem(48);
        }
    }

    p {
        color: color('gray');
        line-height: 1.5;
        font-size: rem(24);
        margin-bottom: rem(24);
    }
}

.social {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;


    margin-left: auto;
    margin-right: auto;
    max-width: rem(266);

    @media #{query('540px')} {
        max-width: rem(407);
    }

    @media #{query('900px')} {
        max-width: 100%;
    }

    > div {
        // flex: 1;
        padding-bottom: rem(24);
        width: rem(125);
    }

    img {
        display: block;
        margin: 0 auto;
        width: rem(125);
    }
}
